<!DOCTYPE html>
<html>

<head>
  <!-- HMTX -->
  <script src="https://unpkg.com/htmx.org@1.9.12" crossorigin="anonymous"></script>
  <!-- HTMX WebSocket Extension -->
  <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
  <!-- Tailwind -->
  <script src="https://cdn.tailwindcss.com"></script>

  <script>
    let numMessages = 0;
    document.addEventListener("htmx:wsAfterMessage", function (event) {
      const message = document.querySelector(".message:last-child");
      message.scrollIntoView();

      numMessages++;
      if (numMessages > 100) {
        const firstMessage = document.querySelector(".message:first-child");
        firstMessage.remove();
        numMessages--;
      }
    });

  </script>

  <title>PyreSky</title>
</head>

<body class="bg-neutral-900 text-neutral-300 flex flex-col">
  <header class="absolute top-0 left-0 right-0 z-20 bg-neutral-800 h-10 px-4 flex item-center">
    <span class="text-neutral-500 text-2xl md:text-4x1 m1-2 font-light target">PyreSky</span>
  </header>

  <main hx-ext="ws" ws-connect="/ws">
    <div id="content" class="h-sceen overflow-y-scroll text-sm px-4 pt-10 pb-4"></div>
  </main>


</body>

</html>
