<div id="content" hx-swap-oob="beforeend">
  <a href="https://bsky.app/profile/{{ did }}" class="did-container text-right pt-1">
    <div class="truncate">
      {{ did }}
    </div>
    <div class="text-xs text-neutral-500 truncate target">
      {{ did }}
    </div>
  </a>
  <div class="pt-2 avatar flex justify-center"></div>
  <a href=" https://bsky.app/profile/{{ did }}/post/{{ cid }}"
    class="message-container pt-2 break-words text-clip overflow-x-clip">
    <span class="whitespace-pre-line">{{ message }}</span>
  </a>
</div>
